header
  nav
    ul
      li
        a(href='/') Home
      li
<<<<<<< HEAD
        a(href='/api/products') Products
=======
        a(href='/api/products') Products
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
