<<<<<<< HEAD
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/products">Products</a></li>
    </ul>
=======
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/products">Products</a></li>
    </ul>
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
</header>