<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products with EJS</title>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <h1>Add a new product - EJS</h1>
    <form method="post" action="api/products">
      <label>
        <span>Name</span>
        <input type="text" name="name" />
      </label>
      <br>
      <label>
        <span>Price</span>
        <input type="text" name="price" />
      </label>
      <br>
      <label>
        <span>Image</span>
        <input type="text" name="thumbnail" />
      </label>
      <br>
      <input type="submit" value="Add" />
    </form>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>