doctype html
html(lang="en")
  head
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Products with Pug
  body
    include ./partials/header
    h1 Products
    if products
      table
        thead
          each product in products
            tr  
              td 
                img(src= product.thumbnail)
            tr
<<<<<<< HEAD
<<<<<<< HEAD
                td.align-right #{product.name}
            tr
                td $#{product.price}
            
    else
      p No products found
    include ./partials/footer
=======
=======
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
              td.align-right #{product.name}
            tr
              td $#{product.price}
            
    else
      p No products found
    include ./partials/footer
<<<<<<< HEAD
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
=======
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
