{{> header}}
<h1>Add a new product</h1>
<form action="/api/products" method="post">
  <label>
    <span>Title</span>
    <input type="text" name="name" value="{{name}}">
  </label>
  <label>
    <span>Price</span>
    <input type="text" name="price" value="{{price}}">
  </label>
  <label>
    <span>Image</span>
    <input type="text" name="thumbnail" value="{{thumbnail}}">
  </label>
  <input type="submit" value="Add">
</form>
<<<<<<< HEAD
<<<<<<< HEAD
{{> footer}}
=======
{{> footer}}
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
=======
{{> footer}}
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
