<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
<<<<<<< HEAD
<<<<<<< HEAD
  </nav>
=======
  </nav>
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
=======
  </nav>
>>>>>>> 1e9be6727ea3666a35bd072347d9fe47f783a2f7
